In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('telecom_users.csv')
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No

In [3]:
cols=['OnlineBackup','StreamingTV','StreamingMovies','DeviceProtection','TechSupport','OnlineSecurity']
for i in cols:
    df[i]=df[i].replace({'No internet service':'No'})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5986 non-null   int64
 1   customerID        5986 non-null   object
 2   gender            5986 non-null   object
 3   SeniorCitizen     5986 non-null   int64
 4   Partner           5986 non-null   object
 5   Dependents        5986 non-null   object
 6   tenure            5986 non-null   int64
 7   PhoneService      5986 non-null   object
 8   MultipleLines     5986 non-null   object
 9   InternetService   5986 non-null   object
 10  OnlineSecurity    5986 non-null   object
 11  OnlineBackup      5986 non-null   object
 12  DeviceProtection  5986 non-null   object
 13  TechSupport       5986 non-null   object
 14  StreamingTV       5986 non-null   object
 15  StreamingMovies   5986 non-null   object
 16  Contract          5986 non-null   object
 17  PaperlessBilling  5986 non-null   object
 18  PaymentMethod     5986 non-null   object
 19  MonthlyCharges    5986 non-null   float64
 20  TotalCharges      5986 non-null   object
 21  Churn             5986 non-null   object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.0+ MB

In [5]:
df.TotalCharges=pd.to_numeric(df.TotalCharges,errors='coerce')

In [6]:
df.isnull().sum()

Unnamed: 0           0
customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        10
Churn                0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.Churn=df.Churn.apply(lambda x: 1 if x=='Yes' else 0)
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No,No,No,No,Two year,No,Credit card (automatic),24.10,1734.65,0
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.20,0
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,1
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.50,0
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.50,0

In [9]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.drop('customerID',axis=1,inplace=True)
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,Yes,Yes,72,Yes,Yes,No,No,No,No,No,No,No,Two year,No,Credit card (automatic),24.10,1734.65,0
1,Female,0,No,No,44,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.20,0
2,Female,1,Yes,No,38,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,1
3,Male,0,No,No,4,Yes,No,DSL,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.50,0
4,Male,0,No,No,2,Yes,No,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,Male,0,Yes,No,1,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95.00,1
5982,Female,0,Yes,Yes,23,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.30,0
5983,Male,0,Yes,Yes,12,Yes,No,No,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,21.15,306.05,0
5984,Male,1,No,No,12,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15,1
5985,Male,0,No,No,26,Yes,No,No,No,No,No,No,No,No,One year,No,Credit card (automatic),19.80,457.30,0

In [10]:
new_df=pd.get_dummies(df,drop_first=True)
new_df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,72,24.10,1734.65,0,1,1,1,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,44,88.15,3973.20,0,0,0,0,1,0,...,1,0,1,0,0,0,1,1,0,0
2,1,38,74.95,2869.85,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,4,55.90,238.50,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
4,0,2,53.45,119.50,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,0,1,95.00,95.00,1,1,1,0,1,0,...,0,0,1,1,0,0,1,0,1,0
5982,0,23,91.10,2198.30,0,0,1,1,1,0,...,1,1,1,1,0,1,1,1,0,0
5983,0,12,21.15,306.05,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,1,0
5984,1,12,99.45,1200.15,1,1,0,0,1,0,...,1,0,1,1,0,0,1,0,1,0
5985,0,26,19.80,457.30,0,1,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0

In [11]:
new_df.describe()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
count,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,...,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000
mean,0.161647,32.523092,64.846687,2298.060617,0.265562,0.509371,0.484605,0.298025,0.901606,0.098394,...,0.343373,0.289826,0.385375,0.391232,0.213353,0.239625,0.589859,0.217871,0.335676,0.227912
std,0.368157,24.500858,30.107576,2274.127165,0.441669,0.499954,0.499805,0.457429,0.297871,0.297871,...,0.474875,0.453719,0.486724,0.488067,0.409709,0.426890,0.491900,0.412834,0.472266,0.419520
min,0.000000,1.000000,18.250000,18.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,9.000000,35.750000,404.312500,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,29.000000,70.425000,1412.150000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,56.000000,89.900000,3846.962500,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,72.000000,118.750000,8684.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
new_df.tenure=new_df.tenure/100
new_df.MonthlyCharges=new_df.MonthlyCharges/150
new_df.TotalCharges=new_df.TotalCharges/9500

In [13]:
new_df.describe()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
count,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,...,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000,5976.000000
mean,0.161647,0.325231,0.432311,0.241901,0.265562,0.509371,0.484605,0.298025,0.901606,0.098394,...,0.343373,0.289826,0.385375,0.391232,0.213353,0.239625,0.589859,0.217871,0.335676,0.227912
std,0.368157,0.245009,0.200717,0.239382,0.441669,0.499954,0.499805,0.457429,0.297871,0.297871,...,0.474875,0.453719,0.486724,0.488067,0.409709,0.426890,0.491900,0.412834,0.472266,0.419520
min,0.000000,0.010000,0.121667,0.001979,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.090000,0.238333,0.042559,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.290000,0.469500,0.148647,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,0.560000,0.599333,0.404943,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,0.720000,0.791667,0.914189,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
y = new_df['Churn']
X = new_df.drop('Churn',axis=1)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# LOGISTIC REGRESSION

In [16]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [17]:
model.fit(X_train,y_train)

LogisticRegression()

In [20]:
model.score(X_test,y_test)*100 , model.score(X_train,y_train)*100

(79.69882877858338, 80.22950035859431)

In [47]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,model.predict(X_test))
cr

'              precision    recall  f1-score   support\n\n           0       0.83      0.89      0.86       877\n           1       0.62      0.49      0.55       319\n\n    accuracy                           0.78      1196\n   macro avg       0.72      0.69      0.70      1196\nweighted avg       0.77      0.78      0.78      1196\n'

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,model.predict(X_test))

array([[1157,  137],
       [ 227,  272]])

# DECISION TREE

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

In [40]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()

In [41]:
tree.fit(X_train,y_train)

DecisionTreeClassifier()

In [42]:
tree.score(X_test,y_test)*100 , tree.score(X_train,y_train)*100

(73.16053511705685, 99.89539748953975)

In [43]:
from sklearn.metrics import classification_report
classification_report(y_test,tree.predict(X_test))

'              precision    recall  f1-score   support\n\n           0       0.80      0.84      0.82       877\n           1       0.50      0.44      0.47       319\n\n    accuracy                           0.73      1196\n   macro avg       0.65      0.64      0.64      1196\nweighted avg       0.72      0.73      0.73      1196\n'

# RANDOM FOREST

In [70]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=25)

In [71]:
forest.fit(X_test,y_test)

RandomForestClassifier(n_estimators=25)

In [72]:
forest.score(X_test,y_test)*100 , forest.score(X_train,y_train)*100

(99.83277591973244, 77.36401673640168)

In [73]:
from sklearn.metrics import classification_report
classification_report(y_test,forest.predict(X_test))

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00       877\n           1       1.00      1.00      1.00       319\n\n    accuracy                           1.00      1196\n   macro avg       1.00      1.00      1.00      1196\nweighted avg       1.00      1.00      1.00      1196\n'